.main-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust this as needed for your layout */
}

.centered-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px; 
}
