.all-contacts-btn {
  background-color: #46139f !important;
  border: none !important;
  color: white !important;
}

.us-contacts-btn {
  background-color: #ff7f50 !important;
  border: none !important;
  color: white !important;
}
